<!doctype html>
<html lang="en">
  <head>
      {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">About</h4>
              <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">Contact</h4>
              <ul class="list-unstyled">
                <li><a href="#" class="text-white">Follow on Twitter</a></li>
                <li><a href="#" class="text-white">Like on Facebook</a></li>
                <li><a href="#" class="text-white">Email me</a></li>
              </ul>
            </div>

            <!--user's form-->
            <form method="post" class="form-inline">
              <h3 class="display-3">Scratch user</h3>
              <br>
              <p>
                <div class="form-group">
                  <input type="text" class="form-control" id="username">
                </div>
              </p>
                <input class="btn btn-default" type="button" onclick="scratch_user();" value="Submit">
            </form>
            <!--end form-->

          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
            <strong>Album</strong>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>

    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Album example</h1>
          <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
          <p>
            <a href="{% url 'all_posts' %}" class="btn btn-primary my-2">Posts</a>
              <!--<select  id="ddlViewBy">-->
                  <!--<option value="1">Day</option>-->
                  <!--<option value="7">Week</option>-->
                  <!--<option value="30">Month</option>-->
                  <!--<option value="365">Year</option>-->
              <!--</select>-->
          </p>
        </div>
      </section>



      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row" id="row">

            {% for person in persons %}
              <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{person.profile_pic_versions320}}" data-src="" alt="{{ person.username }}">
                <div class="card-body">
                  <p class="card-text">
                    <h3>{{person.full_name}}</h3>
                    <span>{{person.biography}}</span>
                    <div class="col-sm">
                        <span><b>Followers:</b> {{person.follower_count}}</span>
                    </div>
                    <div class="col-sm">
                        <span><b>Media:</b> {{person.media_count}}</span>
                        <span><b>Count likes:</b> {{person.count_likes}}</span>
                        <span><b>Count comments:</b> {{person.count_comments}}</span>
                    </div>
                  </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{% url 'person_posts' person.username %}">View</a></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>

    </main>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
        <p>New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a href="../../getting-started/">getting started guide</a>.</p>
      </div>
    </footer>

    <script type="text/javascript" src="{% static 'scratch.js' %}"></script>

    <script>
        function scratch_user() {
          var username = document.getElementById('username').value;
          xhr = new XMLHttpRequest();

          xhr.open('POST', 'posts/added_user/', false);
          xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
          xhr.onreadystatechange = function() {
              if (xhr.status === 200) {
                  console.log(xhr.responseText);

                  var demo = document.getElementById("row");
                  demo.innerHTML = "";

                  visual(xhr.responseText);

              }
              else if (xhr.status !== 200) {
                  alert('Request failed.  Returned status of ' + xhr.status);
              }
          };
          xhr.send(encodeURI('username=' + username));
      }
    </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>